<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Authentiq</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="favicon.png">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon.png">
  <!-- Google Fonts -->
  <link href="https:\\fonts.googleapis.com\css?family=Oswald:400,300,700|EB+Garamond" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>


  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <!-- <div class="img">
        <img src="../static/img/img.jpg", width="200", height="100">
      </div>
      <br> -->
      <div class="row">
        <h1>AUTHENTIQ</h1>
        <br>
        <h3 style="font-style: italic;">Welcome</h3>
        <br>
        <h6 style="font:Garamond; color:whitesmoke; font-size: medium;">Enter the article here</h6>
        <form method="POST">
          <label for="text_id"></label>
          <br>
          <textarea name="text" id="text_id" placeholder="Enter here" cols="100" rows="15" required>
        </textarea>
          <br>
          <input type="submit" id="submit_button">
        </form>
      </div>
      <div id="results">
        <br>
        <!-- <h3>Results</h3> -->
        <!-- <span>News input </span>
        <p>{{context.user_input}}</p>
        <br> -->
        <!-- <span>Prediction</span>
        <p>{{context.prediction}} (</p> -->
        <!-- <br> -->
        <span>Predicted Probabilities</span>
        <p>Fake : {{context.prob_fake}} %</p>
        <p>True : {{context.prob_true}} %</p>
      </div>
    </div>

  </div>
  </div>
  </div>
  <!-- /container -->
  </div>


  <!-- ========== CONTACT SECTION ==========
  <section id="contact" name="contact"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>CONTACT US</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
            class="icon icon-circle"></i></p>

        <div class="col-lg-6 col-lg-offset-3">
          <p>Developers In Vogue<br />Nima , Accra<br />+233 237789900</p>
          <p>authentiq@gmail.com</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

            <div class="form-group">
              <label for="contact-name">Your Name</label>
              <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-email">Your Email</label>
              <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email"
                data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-subject">Subject</label>
              <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <label for="contact-message">Your Message</label>
              <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5"
                data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large">Send Message</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div> -->


  </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>

  <!-- Javascript Function to toggle -->


</body>

</html>